body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
}

.box {
    background-color: rgb(206, 206, 255);
    border: 3px solid rgb(0, 0, 185);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.constant {
    width: 18px;
}