<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in</title>
    </head>
    <body>
        <h1>Sign in</h1>
        <div>
            <form action="" method="post">
                <label for="login-field">Username or email address</label>
                <input autocapitalize="none"  autocorrect="off" autofocus="autofocus" id="login-field" name="login" type="text">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <a href="/login.html">Forgot password?</a>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </body>
</html>